/** Space for all imported CSS Libraries **/

@import './font-awesome.min.css';
@import 'animate.css';
@import '@aegis-framework/kayros.css';

/** Space for all imported Fonts **/


/** Main Style goes here**/

h1 {
	font-weight: lighter;
	font-family: 'Open Sans', sans-serif;
}

body {
	background: #fafafa;
}

small {
	display: block;
	font-size: 0.8rem;
}

input {
	width: 60%;
}

button {
	color: #fff;
	background: #00bcd4;
	border-radius: 100%;
	width: 3rem;
	height: 3rem;
}

[data-content="chat"] {
	max-height: 89vh;
	overflow: auto;
	max-width: 60rem;
	margin: 0 auto;
}

[data-content="input"] {
	max-height: 10vh;
	background: #fff;
}

div {
	border-radius: 5px;
	padding: 1em;
	display: inline-block;

	& span {
		padding: 0.5rem;
		cursor: pointer;
	}

	& svg {
		font-size: 50%;
	}

	&.response {
		background: #00bcd4;
		color: #fff;
	}

	&.input {
		background: #424242;
		color: #fff;
	}
}

[data-content="leds"] {
	position: absolute;
	left: 1rem;

	& * {
		margin: 0.2rem;
	}
}

[data-color="result"] {
	position: absolute;
	left: 4rem;
	font-size: 200%;
}

@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0.4; }
	100% { opacity: 1; }
}

.blink {
	animation: blink 1s infinite;
}


/** Place here all Media Queries and it's styles.**/

/** Default Style. Don't change. (320px) **/
@media screen and  (max-width: 20em) {}

/** Extra Small Devices, Phones (480px) **/
@media screen and (min-width : 30em) {

}

/** Medium Screens, Tablets (601px) **/
@media screen and (min-width: 37.56255em) {

}

/** Medium Devices, Desktops (992px)**/
@media screen and (min-width: 62em) {

}

/** HD Screen, Large Devices, Wide Screens (1200px) **/
@media screen and (min-width: 75em) {

}

/** Full HD Screen, Large Devices, Wide Screens (1920px) **/
@media screen and (min-width: 120em) {

}

/** Retina Screen , Large Devices, Wide Screens(2560px) **/
@media screen and (min-width: 160em) {

}

/** 4k Screens, Large Devices, Wide Screens (3840px) **/
@media screen and (min-width: 240em) {

}

/** 5k Screens, Large Devices, Wide Screens (5120px) **/
@media screen and (min-width: 312.15em) {

}

/** CSS for Printing **/
@media print {

}